{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{%  static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{%  static 'images/fevicon.png" type="image/gif' %}" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{%  static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css' %}">
      <link rel="stylesoeet" href="{%  static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <title>Base - home</title>
</head>
<body>

{% include 'base/includes/navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'base/includes/footer.html' %}


      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{%  static 'js/jquery.min.js' %}"></script>
      <script src="{%  static 'js/popper.min.js' %}"></script>
      <script src="{%  static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{%  static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{%  static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{%  static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{%  static 'js/custom.js' %}"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }

         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
</body>
</html>