{% load static %}
<!-- jewellery  section start -->
<div class="jewellery_section">
    <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Pricable accessories</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Type C-6fts</h4>
                                    <p class="price_text">Start Price <span style="color: #262626;">$ 7</span></p>
                                    <div class="jewellery_img"><img src="{% static 'images/charger-removebg-preview.png' %}"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">China EU Plug</h4>
                                    <p class="price_text">Start Price <span style="color: #262626;">$ 5</span></p>
                                    <div class="jewellery_img"><img src="{% static 'images/charger3-removebg-preview.png' %}"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Charger RT5s</h4>
                                    <p class="price_text">Start Price <span style="color: #262626;">$ 9</span></p>
                                    <div class="jewellery_img"><img src="{% static 'images/charger2-removebg-preview.png' %}"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Phone Accessories</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            {% for phone_accessory in phone_accessories %}
                                <div class="col-lg-4 col-sm-4">
                                    <div class="box_main">
                                        <h4 class="shirt_text">{{ phone_accessory.accessories_name }}</h4>
                                        <p class="price_text">Start Price <span
                                                style="color: #262626;">$ {{ phone_accessory.accessories_price }}</span></p>
                                        <div class="jewellery_img"><img src="{{ phone_accessory.accessories_image.url }}">
                                        </div>
                                        <div class="btn_main">
                                            <div class="buy_bt"><a href="#">Buy Now</a></div>
                                            <div class="seemore_bt"><a href="#">See More</a></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <div class="loader_main">
            <div class="loader"></div>
        </div>
    </div>
</div>
<!-- jewellery  section end -->