<div class="banner_bg_main">
<div class="container">
            <div class="header_section_top">
               <div class="row">
                   <div class="col-sm-12">
                     <div class="custom_menu">
                        <ul>
                           <li><a href="{% url 'phone:base_home' %}">Home</a></li>
                           <li><a href="#">Best Sellers</a></li>
                           <li><a href="#">Gift Ideas</a></li>
                           <li><a href="#">New Releases</a></li>
                           <li><a href="#">Customer Service</a></li>
                            {% if request.user.is_organiser %}
                                <li><a href="{% url 'developer:home' %}">Developer</a></li>
                            {% endif %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </div>